<h1>Húrnégyszög terület számitás</h1>

<form action="calc.php" method="get">
<div>
    <label for="testtomeg" class="form-label"> Testtömeg</label>
    <input type="text" name="testtomeg" id="testtomeg" class="form-control">
</div>    
<div>
    <label for="magasság" class="form-label">Magasság</label>
    <input type="text" name="magasság" id="magasság" class="form-control">
</div>    
<div>
    <label for="eletkor" class="form-label">Életkor</label>
    <input type="text" name="eletkor" id="eletkor" class="form-control">
</div>    
   
<button type="submit" class="btn btn-primary mt-3" >Számit</button>


</form>